# Vite development local env
VITE_API_BASE_URL=http://localhost:3000
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51SyoiDRVqcjqamFO83ONXTagTSUHsLFJfp80PJPIHl2gNTusL70WrPXpKKkkHxeBMmo40Dn3RuR0V5pCM0fieAkH00J46v8AFg
